<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Your Little Kitchen!</h1>
            <p>View all the recipies and start making delicious food!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/recipes/new">Create new Recipe</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>All Recipies:</h3>
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <%recipes.forEach(function(recipe){%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= recipe.image %>">
                    <div class="caption">
                        <h4><%= recipe.name%></h4>
                    </div>
                    <p>
                        <a href="/recipes/<%=recipe._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
                
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>